name: Acceptance Tests

on:
  push

jobs:
  e2e:
    name: run postman collection
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: '12.10.0'

      - name: Install newman
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra
          npm install express

      - name: Start server
        if: always()
        id: server
        env:
         PID : "pid"
        run: |
         echo "Starting up node js server"
         node index.js &
         echo " $PID=\":$!\" " >> $GITHUB_ENV

      - name: Test
        run: |
          echo $PID " 1"
          echo echo ${{ env.PID }} " 2"
          echo ${{ steps.server.outputs.PID }} " 3"
          echo ${{ env.PID }} " 4"

      - name: Kill the node instance
        run: |
          kill -9 ${{ env.PID }}
