name: Acceptance Tests

on:
  push

jobs:
  e2e:
    name: run postman collection
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: PWD
        run: |
          cd ./test
          ls
          echo $pwd
          echo "pwd : $pwd"
          echo "root : $ROOT"
          echo "home : $HOME"
          
